## Değişken Standardizasyonu

<font color=green>
    
**Udemy - (50 Saat) Python A-Z™: Veri Bilimi ve Machine Learning**

Bölüm 8 - Veri Ön İşleme - Vahit Keskin anlattı. 
    
    246. Değişken Standardizasyonu
</font>

### İçindekiler

**Giriş**

**Standardizasyon**

   *Normal dağılıma benzetmek için kullanılır.*

**Normalizasyon**

   *Değerleri 0 ile 1 arasına yerleştirmek için kullanılır.*

**Min-Max Dönüşümü**

   *Değerleri istediğimiz aralığa yerleştirmek için kullanılır.*

### <font color=blue>**Giriş**</font>

Değişken standardizasyonundan yaptığımızda değişkenin tüm ortalama, standart sapma, varyans gibi değerleri değişecektir ama taşımış olduğu bilginin değişken içindeki yayılımı, dağılımı, mevcut durumu değişmeyecektir. Bu standartlaştırma işlemidir. 

Değişkenin içerisinde yer alan 10 değerini düşünelim. Diyelim ki bu 10 değeri veri seti küçükten büyüğe sıralandığında 80. sırada. Bu değişken standartlaştırıldığında bu 10 değeri muhtemelen 1,2 gibi bir değer olacak veya 0 ile 1 arasında bir değer olacak. Fakat veri seti yine küçükten büyüğe sıralandığında bu değer yine 80. değere karşılık geliyor olacak.

Standardizasyon işlemleriyle ilgili ifade edilmesi gereken bir diğer önemli nokta: makine öğrenmesi algoritmalarının kullanacak olduğu veri setlerinde birbirlerinden çok farklı ölçek tiplerinde, birbirlerinden çok farklı türlerde değişkenler olması genel itibariyle algoritmaların çok da sevmediği bir durum. Veri setinin içerisinde kullanılmış olan değişkenler ne kadar standart olursa o kadar algoritmaları zorlamıyor diyebiliriz. Bu sebeple bazı algoritmaları kullanmadan önce değişkenleri dönüştürmemiz gerekmekte, bazıları için ise gerekmemektedir.

In [20]:
import numpy as np
import pandas as pd

V1 = np.array([10,30,60,50,70])
V2 = np.array([70,70,50,80,120])
V3 = np.array([60,120,50,60,140])
df = pd.DataFrame({"V1" : V1,
                   "V2" : V2,
                   "V3" : V3})
df = df.astype(float)
df

     V1     V2     V3
0  10.0   70.0   60.0
1  30.0   70.0  120.0
2  60.0   50.0   50.0
3  50.0   80.0   60.0
4  70.0  120.0  140.0

### Standardizasyon

Standardizasyon işleminde değişkenlerin her birisinin ortalaması 0, standart sapması 1 olacak şekilde standart normal dağılım şekline dönüştürmeyi hedefliyoruz.

In [21]:
from sklearn import preprocessing

In [22]:
df

     V1     V2     V3
0  10.0   70.0   60.0
1  30.0   70.0  120.0
2  60.0   50.0   50.0
3  50.0   80.0   60.0
4  70.0  120.0  140.0

In [23]:
preprocessing.scale(df) # df'i dönüştür demiş oluyorum.

array([[-1.57841037, -0.34554737, -0.70920814],
       [-0.64993368, -0.34554737,  0.92742603],
       [ 0.74278135, -1.2094158 , -0.98198051],
       [ 0.27854301,  0.08638684, -0.70920814],
       [ 1.2070197 ,  1.81412369,  1.47297076]])

Gözlemleneceği üzere `preprocessing.scale(df)` kodu veri setinin içerisindeki bütün değişkenleri standartlaştırmış oldu. Veri setinin içerisindeki örneğin bir 80 değeri artık mesela 0.086 gibi bir değer olmuş oldu. Ama bu işlemi bütün değişkenlere uyguladığımızdan dolayı yapılarının birbirleriyle kıyaslanabilirliği bozulmamış oldu.

In [24]:
df # inplace olmadı.

     V1     V2     V3
0  10.0   70.0   60.0
1  30.0   70.0  120.0
2  60.0   50.0   50.0
3  50.0   80.0   60.0
4  70.0  120.0  140.0

In [25]:
df_r = preprocessing.scale(df)

In [26]:
var_names = list(df)
var_names

['V1', 'V2', 'V3']

In [27]:
df_y = pd.DataFrame(df_r, columns = var_names)

In [28]:
df_y

         V1        V2        V3
0 -1.578410 -0.345547 -0.709208
1 -0.649934 -0.345547  0.927426
2  0.742781 -1.209416 -0.981981
3  0.278543  0.086387 -0.709208
4  1.207020  1.814124  1.472971

In [29]:
df.mean()

V1    44.0
V2    78.0
V3    86.0
dtype: float64

In [30]:
df_y.std()

V1    1.118034
V2    1.118034
V3    1.118034
dtype: float64

In [31]:
df_y.mean()

V1    4.440892e-17
V2   -4.440892e-17
V3    0.000000e+00
dtype: float64

### Normalizasyon

Normalizasyon da bir standardizasyon işlemidir. Değerleri 0 ile 1 arasına dönüştürmek için kullanılır.

In [35]:
df_n = preprocessing.normalize(df)

In [36]:
var_names = list(df)
df_y = pd.DataFrame(df_n, columns = var_names)
df_y

         V1        V2        V3
0  0.107833  0.754829  0.646997
1  0.211079  0.492518  0.844317
2  0.646997  0.539164  0.539164
3  0.447214  0.715542  0.536656
4  0.354914  0.608424  0.709828

Bütün değerleri 0 ile 1 arasında değişecek şekilde dönüştürme işlemini gerçekleştirmiş oldu.

In [37]:
df_y.mean()

V1    0.353607
V2    0.622095
V3    0.655392
dtype: float64

In [38]:
df_y.std()

V1    0.209500
V2    0.112033
V3    0.128777
dtype: float64

### Min-Max Dönüşümü

Normalizasyonda değişken değerlerini 0 ile 1 arasına almak için dönüştürüyorduk. Burada 0 ve 1 yerine istediğimiz aralık için dönüştürme işlemi yapıyoruz. Bu değerlerin veri setimiz içinde yer alması gerekmez.

In [41]:
scaler = preprocessing.MinMaxScaler(feature_range = (1000,2000))

Şu an bunu bir nesne olarak oluşturdu. Bunun devamında fit transform isimli fonksiyonu kullanmamız gerekiyor.

In [45]:
df_s = scaler.fit_transform(df)

In [46]:
# preprocessing.MinMaxScaler(feature_range = (10,20)).fit_transform(df) şeklinde de yazabilirdik.

In [47]:
var_names = list(df)
df_y = pd.DataFrame(df_s, columns = var_names)
df_y

            V1           V2           V3
0  1000.000000  1285.714286  1111.111111
1  1333.333333  1285.714286  1777.777778
2  1833.333333  1000.000000  1000.000000
3  1666.666667  1428.571429  1111.111111
4  2000.000000  2000.000000  2000.000000

In [48]:
df_y

            V1           V2           V3
0  1000.000000  1285.714286  1111.111111
1  1333.333333  1285.714286  1777.777778
2  1833.333333  1000.000000  1000.000000
3  1666.666667  1428.571429  1111.111111
4  2000.000000  2000.000000  2000.000000

In [49]:
df_y.mean()

V1    1566.666667
V2    1400.000000
V3    1400.000000
dtype: float64

In [50]:
df_y.std()

V1    401.386486
V2    369.776546
V3    455.420034
dtype: float64