<font color='green'> 
**Kodluyoruz - Data Science for Public Good (28.03.2020-20.06.2020)**
7. hafta - Args and Kwargs - 10.05.2020 tarihinde Engin Deniz Alpman anlattı. 
</font>

# Args and Kwargs

## 1) Unpacking

##### <font color='blue'>Yıldız unpack yapmamızı sağlıyor, değerleri tek tek bastırıyor.</font>

<font color='blue'>Burada *l tek bir parametre olmasına rağmen tüm değerleri toplu halde tutuyor.</font>

In [50]:
l = [1,2,3,4]

In [16]:
print(l)

[1, 2, 3, 4]

In [17]:
print(*l)

1 2 3 4

##### <font color='blue'>Bu şekilde iki listeyi de birleştirebiliyoruz.</font>

In [51]:
l1 = [1,2,3,4]

In [52]:
l2= [20,21]

In [53]:
merged_l = [*l1, *l2]

In [54]:
merged_l

[1, 2, 3, 4, 20, 21]

##### <font color='blue'>Dictionary söz konusu olduğunda tek yıldız koyarak birleştirme işlemi yaptığımızda sadece key değerlerini birleştiriyor.</font>

In [31]:
d1 = {"name":"Jake", "number": 402}

In [32]:
d2 = {"last_name":"Sky", "grade": 74}

In [33]:
d_merged1 = {*d1, *d2}

In [34]:
d_merged1

{'grade', 'last_name', 'name', 'number'}

##### <font color='blue'>Tüm key, value çiftlerini alıp tek bir dictionaryde birleştirmek istersek iki yıldız kullanıyoruz.</font>

In [55]:
d_merged2 = {**d1, **d2}

In [56]:
d_merged2

{'name': 'Jake', 'number': 402, 'last_name': 'Sky', 'grade': 74}

##### <font color='blue'>Dictionaryleri birleştirmenin farklı yolları da var.</font>

In [57]:
d_merged3 = {"d1":d1, "d2": d2}

In [58]:
d_merged3  # dictionary içinde dictionary oluşturmuş olduk.

{'d1': {'name': 'Jake', 'number': 402},
 'd2': {'last_name': 'Sky', 'grade': 74}}

In [40]:
d_merged4=(d1,d2)

In [41]:
d_merged4

({'name': 'Jake', 'number': 402}, {'last_name': 'Sky', 'grade': 74})

##### <font color='blue'>Ya diğer birleştireceğimiz dictionaryde de aynı key'den varsa?</font>

<font color='blue'>Overwrite yapar. Çünkü dictionary mantığında her key ve value'dan bir tane olması gerekiyor.</font>

In [59]:
d1 = {"name":"Jake", "number": 402}
d3 = {"name":"Sky", "grade": 74}

In [60]:
d_merged5 = {**d1,**d3}

In [61]:
d_merged5

{'name': 'Sky', 'number': 402, 'grade': 74}

##### <font color='blue'>Stringlerde de her harfi bastırmak istiyorsak tek yıldız kullanabiliyoruz.</font>

In [62]:
str_list = [*"hey this is a string"]

In [63]:
str_list

['h',
 'e',
 'y',
 ' ',
 't',
 'h',
 'i',
 's',
 ' ',
 'i',
 's',
 ' ',
 'a',
 ' ',
 's',
 't',
 'r',
 'i',
 'n',
 'g']

In [64]:
str_list = [*"hey"]

In [65]:
str_list

['h', 'e', 'y']

<font color='blue'>Listeye koymadan yıldızlı bir değere atadığımız string atadığımız şeyi tuple olarak bekliyor. Sadece virgül koymak bu ifadeyi tuple haline getiriyor. Bu şekilde hatayı kaldırıyor.   </font>

In [47]:
*a = "hey"

SyntaxError: starred assignment target must be in a list or tuple (<ipython-input-47-807136034e7a>, line 4)

In [48]:
*a, = "hey"

In [49]:
a

['h', 'e', 'y']

## 2) Args

First way to pass varying number of parameters to function. It unpacks list/tuples etc, not dictionaries

In [71]:
def sum(numbers):
    res = 0
    for e in numbers:
        res += e
    return res

In [72]:
numbers = [1, 2, 3, 4]

In [73]:
sum(numbers)

10

In [74]:
numbers = [1, 2]

In [75]:
sum(numbers)

3

***args means we initially had list of elements but we unpacked it to single numbers**

<font color='blue'>Kaç tane parametre vereceğimizi bilmediğimiz zamanlar, değişik sayıda parametre vermeyi kabul edebilecek fonksiyonlar tasarlarken yıldızı kullanabiliyoruz. Genelde **args* şeklinde bir kullanımı var.</font>

<font color='blue'>`args` denen şey bir tuple ve ben yıldız (*) koyarak onu unpack ediyorum/açıyorum.</font>

In [46]:
def sum(*args):
    res = 0
    for e in args:
        res += e
    return res

In [8]:
# it will assume *args = 1,2,3,4 so args = (1,2,3,4)
sum(1,2,3,4)

10

<font color='blue'>Ben bunun `sum(1,2)` içine 10 tane de sayı yazabilirim, 20 tane de sayı yazabilirim. Günün sonunda yıldız koyarak yazdığım için args denen şeyi tuple olarak algılayacak. </font>

In [9]:
# it will assume *args = 1,2 so args = (1,2)
sum(1,2)

3

In [11]:
# it will assume *args = 1,2 so args = (1,2)
sum(a=1,b=2)

TypeError: sum() got an unexpected keyword argument 'a'

##### <font color='blue'>argsın tipine bakalım.</font>

In [43]:
def sumtyp(*args):
    res = 0
    print(type(args))
    for e in args:
        res += e
    return res

In [44]:
sumtyp(1,2,3,4)

<class 'tuple'>

10

##### <font color='blue'>Fonksiyonu değerlerle değil de bir listeyle çalıştırsaydık ne olurdu? </font>

In [54]:
def sum(*args):
    res = 0
    for e in args:
        res += e
    return res

In [55]:
sum(1,2,3,4)

10

In [56]:
sum([1,2,3,4])

TypeError: unsupported operand type(s) for +=: 'int' and 'list'

<font color='blue'>Hata verirdi. Çünkü tuple içinde tutuyor o listeyi. For döngüsünde değerlere ulaşabilmesi için bir for döngüsü daha gerekirdi. </font>

In [57]:
def sum2(*args):
    res = 0
    for e in args:
        for j in e:
            res += j
    return res

In [58]:
sum2([1,2,3,4])

10

##### <font color='blue'>args tuple'ın bütün özelliklerini taşıyor. </font>

In [59]:
def sumtyplen(*args):
    res = 0
    print(type(args))
    print(len(args))
    for e in args:
        res += e
    return res

In [60]:
sumtyplen(1,2,3,4)

<class 'tuple'>
4

10

In [61]:
def sum3(*args):
    res = 0
    print(len(args))
    for e in args:
        for j in e:
            res += j
    return res

In [62]:
sum3([1,2,3,4])

1

10

##### <font color='blue'>x demişiz, args demişiz farketmez. Bir convention olduğu için args diyoruz. </font>

In [5]:
def sum4(*x):
    res = 0
    for e in x:
        res += e
    return res

In [6]:
sum4(1,2,3,4)

10

## 3) Kwargs

<font color='blue'>dictionaryler üzerinde çalışmak istiyorsak 2 yıldız kullanıyoruz.  </font>

In [76]:
def students(**students): 
    
    for v in students.values():
        print(v)

In [77]:
students(name="Jake", student_number = "401")

Jake
401

 <font color='blue'> Burada kilidini açtığımız şey (iki yıldızı kilit gibi düşün-dictionarynin kilidi) dictionary artık. İki yıldız koyduğumuz için **students** bir dictionary.</font>

In [83]:
deneme_dict={"name":"Jake", "student_number" : "401"}

In [84]:
for e in deneme_dict:
    print(e)

name
student_number

 <font color='blue'> Burada dikkat edilmesi gereken şey normalde dictionaryde key'lerimizi string olarak yazmak için tırnak işareti içinde yazıyorduk ve iki nokta ":" ile value'sunu belirtiyorduk. Fakat iki yıldız kullanmışsak fonksiyonu çağırırken key'leri tırnak işareti içine almıyoruz ve "=" ile value'sunu belirtiyoruz.</font>

In [85]:
def students(**students):
    
    for e in students:
        print(e)

In [86]:
students(name="Jake", student_number = "401")

name
student_number

<font color='blue'>Fonksiyona **name**i ve **student_number**ı tırnak işareti içinde vermememe rağmen string olarak algılıyor. </font>

In [87]:
def students(**students):
    
    for e in students:
        print(e)
        print(type(e))

In [88]:
students(name="Jake", student_number = "401")

name
<class 'str'>
student_number
<class 'str'>

<font color='blue'>Tek yıldız koyduğumuzda hata veriyor. İki kez unpacking yapmam lazım çünkü dictionarye benzer bir şey veriyorum parametre olarak. </font>

In [89]:
def students(*students):
    
    for v in students.values():
        print(v)

In [90]:
students(name="Jake", student_number = "401")

TypeError: students() got an unexpected keyword argument 'name'

In [91]:
def students2(**students):
    
    for v in students.values():
        print(v)

In [92]:
students2(name="Jake", student_number = "401")

Jake
401

## 4) Using Args and Kwargs Together

Order matters when we are using them together (*İkisini bir arada kullandığımızda sıralınışı önemli oluyor*)

In [93]:
def weird(*args, **kwargs):
    res = 0
    for e in args:
        res += e
        
    for k,v in kwargs.items():
        print(k,":", v)
        
    return res

In [94]:
weird(1, 2, 3, name="Jake", student_number=401)

name : Jake
student_number : 401

6