<font color='green'> 
**Udemy - (50 Saat) Python A-Z™: Veri Bilimi ve Machine Learning**
7. Bölüm - Veri Bilimi İçin İstatistik (181. video) - Vahit Keskin anlattı. </font>

## Betimsel İstatistikler Uygulama

**İçindekiler**

- Sayısal değişkenlerin istatistiksel değerlerini almak için `describe()` fonksiyonu
- Sürekli değişkenlerin istatistiksel değerlerini almak için `summary_cont` fonksiyonu
- Kategorik değişkenlerin istatistiksel değerlerini almak için `summary_cat` fonksiyonu
- Sayısal değişlenlerin birbirleriyle olan kovaryansını görmek için `cov()` fonksiyonunu
- Sayısal değişlenlerin birbirleriyle olan korelasyonunu görmek için `corr()` fonksiyonunu

In [1]:
import seaborn as sns
tips = sns.load_dataset("tips")
df = tips.copy()

In [2]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

#### <font color='blue'> **Sayısal değişkenlerin istatistiksel değerlerini almak için `describe()` fonksiyonunu kullanıyoruz.** </font>

In [3]:
df.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

#### <font color='blue'> **Sürekli değişkenlerin istatistiksel değerlerini almak için `summary_cont()` fonksiyonunu kullanıyoruz.** </font>

In [7]:
# !pip install researchpy

In [6]:
import researchpy as rp
rp.summary_cont(df[["total_bill","tip","size"]])

     Variable      N     Mean      SD      SE  95% Conf.  Interval
0  total_bill  244.0  19.7859  8.9024  0.5699    18.6633   20.9086
1         tip  244.0   2.9983  1.3836  0.0886     2.8238    3.1728
2        size  244.0   2.5697  0.9511  0.0609     2.4497    2.6896

Şu anda describe() fonksiyonuna benzer olsa da bizim için belki daha anlamlı olabilecek bazı değerler verdi summary_cont fonksiyonu. 
- Variable: Değişkenler
- N: Gözlem sayıları
- Mean: Ortalama değeri
- SD: Standart sapması 
- **SE: Standart hatası** 
- **95% Conf. Interval: Güven aralıkları**

#### <font color='blue'> **Kategorik değişkenlerin istatistiksel değerlerini almak için `summary_cat()` fonksiyonunu kullanıyoruz.** </font>

In [8]:
rp.summary_cat(df[["sex","smoker","day","time"]])

  Variable Outcome  Count  Percent
0      sex    Male    157    64.34
1           Female     87    35.66
2   smoker      No    151    61.89
3              Yes     93    38.11
4      day     Sat     87    35.66
5              Sun     76    31.15
6             Thur     62    25.41
7              Fri     19     7.79
8     time  Dinner    176    72.13
9            Lunch     68    27.87

`summary_cat` fonksiyonu elimizdeki kategorik değişkenlerin sınıf frekansını bize sunmuş oldu.

#### <font color='blue'> **Sayısal değişlenlerin birbirleriyle olan kovaryansını görmek için `cov()` fonksiyonunu kullanıyoruz.** </font>

In [9]:
df[["tip","total_bill"]].cov()

                 tip  total_bill
tip         1.914455    8.323502
total_bill  8.323502   79.252939

In [12]:
df[["tip","total_bill","size"]].cov()

                 tip  total_bill      size
tip         1.914455    8.323502  0.643906
total_bill  8.323502   79.252939  5.065983
size        0.643906    5.065983  0.904591

Covariance; değişkenlerin ilişkilerine ilişkin bir değişkenlik ölçüsü bize veriyordu. Bahşiş (tip) ile ödenen hesap (total bill) arasında bu şekilde bir ilişki tanımlanmış. Bu varyans gibi değerlendirilmesi gereken ama iki değişken arasındaki değişimi ifade eden bir istatistik.

#### <font color='blue'> **Sayısal değişlenlerin birbirleriyle olan korelasyonunu görmek için `corr()` fonksiyonunu kullanıyoruz.** </font>

In [13]:
df[["tip","total_bill"]].corr()

                 tip  total_bill
tip         1.000000    0.675734
total_bill  0.675734    1.000000

(Korelasyon değişkenin değerlerinin büyüklüğünden bağımsız bir şeydi-statquest covariance) 
Burada da bahşiş (tip) ile ödenen hesap (total bill) arasında 0.67 yani pozitif yönlü orta şiddetli bir korelasyon olduğu anlamına geliyor.